.aps-bg{
    display: flex;
    min-height: 830px;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    justify-content:center;
    align-items: center;
    flex-wrap:nowrap;
}

.aps-bg1{
    height: 760px;
    width: 600px;
    margin-top: -30px;
    background: url('/public/bluenav.jpg');
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content:flex-start;
}
.aps-img{
    height: 100px;
    width: 100px;
    margin-left: -180px;
    margin-top: 100px;
}
.aps-name{
    margin-top: 200px;
    margin-left: -350px;
    margin-top: 255px;
    height: 20px;
    font-size: 25px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aps-h1{
    height: 50px;
    margin-left: 160px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aps-i1{
    height: 40px;
    width: 300px;
    margin-top: 250px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
}
.aps-usage{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 350px;
    margin-left: -415px;
}
.aps-i2{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    margin-top: 345px;
    margin-left: 20px;
}
.aps-description{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 440px;
    height: 40px;
    margin-left: -486px;
}
.aps-i3{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    margin-top: 435px;
    margin-left: 20px;
}
.aps-validity{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 525px;
    height: 40px;
    margin-left: -435px;

}
.aps-i4{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    margin-top: 520px;
    margin-left: 20px;
}
.aps-price{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 605px;
    height: 40px;
    margin-left: -405px;
}
.aps-i5{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    margin-top: 600px;
    margin-left: 20px;
}
.aps-btn{
    height: 35px;
    font-size: 14px;
    width: 130px;
    margin-top: 680px;
    margin-left: -310px;
    border-radius: 5px;
    font-weight: 600;
    color: aliceblue;
    background-image: linear-gradient(to bottom,rgb(18, 232, 50),rgb(139, 242, 94),rgb(18, 221, 42));
}


@media (max-width: 1200px) {
    .aps-bg{
        display: flex;
        min-height: 2230px;
        width: 200%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        justify-content:center;
        align-items: center;
        flex-wrap:nowrap;
    }
    .aps-bg1{
        height: 1360px;
        width: 1200px;
        margin-top: -630px;
        background: url('/public/bluenav.jpg');
        border-radius: 10px;
        box-shadow: 0px 0px 10px;
        display: flex;
        justify-content:flex-start;
        
    }
    .aps-img{
        height: 200px;
        width: 200px;
        margin-left: -300px;
        margin-top: 200px;
    }
    .aps-name{
        margin-left: -500px;
        margin-top: 500px;
        height: 20px;
        font-size: 45px;
        font-weight: 600;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .aps-h1{
        font-size: 60px;
        height: 50px;
        margin-left: 300px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .aps-i1{
        height: 80px;
        width: 600px;
        margin-top: 490px;
        margin-left: 20px;
        font-size: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px;
    }
    .aps-usage{
        font-size: 45px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-top: 680px;
        margin-left: -790px;
    }
    .aps-i2{
        height: 80px;
        width: 600px;
        font-size: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px;
        margin-top: 640px;
        margin-left: 20px;
    
    }
    .aps-description{
        font-size: 45px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-top: 800px;
        height: 40px;
        margin-left: -910px;
    }
    .aps-i3{
        height: 80px;
        width: 600px;
        font-size: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px;
        margin-top: 790px;
        margin-left: 20px;
    }
    .aps-validity{
        font-size: 45px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-top: 980px;
        height: 40px;
        margin-left: -820px;
    
    }
    .aps-i4{
        height: 80px;
        width: 600px;
        font-size: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px;
        margin-top: 940px;
        margin-left: 20px;
    }
    .aps-price{
        font-size: 45px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        margin-top: 1100px;
        height: 40px;
        margin-left: -760px;
    }
    .aps-i5{
        height: 80px;
        width: 600px;
        font-size: 30px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px;
        margin-top: 1090px;
    }
    .aps-btn{
        height: 65px;
        font-size: 25px;
        width: 230px;
        margin-top: 1200px;
        margin-left: -610px;
        border-radius: 5px;
        font-weight: 600;
        color: aliceblue;
        background-image: linear-gradient(to bottom,rgb(18, 232, 50),rgb(139, 242, 94),rgb(18, 221, 42));
    }
    
}
@media (max-width: 728px) {
    .aps-bg{
        display: flex;
        min-height: 2730px;
        width: 300%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        justify-content:center;
        align-items: center;
        flex-wrap:nowrap;
    }
}
@media (max-width: 586px) {
    .aps-bg{
        display: flex;
        min-height: 3030px;
        width: 400%;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        justify-content:center;
        align-items: center;
        flex-wrap:nowrap;
    }
}

