.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/public/bluenav.jpg');
    min-height: 831px;
    
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}
.team{
   
   /* margin-top: -500px; */
   height: 250px;
   width: 250px;
   margin-left: -70px;

}
.user{
    height: 30px;
    width: 30px;
    margin-left: -355px;
    margin-top: 265px;
    
}
.n1{
    height: 50px;
    width: 400px;
    margin-top: 250px;
    border-radius: 30px;
    margin-left: 20px;
    font-size: 20px;
    
    
}
.pass{
    height: 30px;
    width: 30px;
    margin-left: -450px;
    margin-top: 350px;
    

}

.n2{
    height: 50px;
    width: 400px;
    margin-top: 335px;
    border-radius: 30px;
    margin-left: 20px;
    font-size: 20px;

}
.box{
    margin-top: 250px;
    margin-left: -370px;
}
.p11{
    margin-top: 412px;
    margin-left: 5px;
}
.p22{
    margin-top: 412px;
    margin-left: 80px;
}
.p22:hover{

    color: red;

}
.btn1{
    margin-top: 480px;
    height: 35px;
    width: 100px;
    margin-left: -225px;
    border-radius: 10px;
    font-weight: 600;
    background-image: linear-gradient(to bottom,rgb(0, 241, 80),rgb(0, 255, 17));
    
}
.btn1:hover{
    background-color: green;
}
.login-body{
    height: 600px;
    width: 600px;
    background-color: rgba(240, 248, 255, 0.278);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 100px;
    box-shadow: 0px 0px 10px;
}



@media (max-width: 1000px) {
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('/public/bluenav.jpg');
        min-height: 831px;
        
        width: 200%;
        height: 1580px;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
    }   
}
@media (max-width: 600px) {
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('/public/bluenav.jpg');
        min-height: 831px;
        
        width: 300%;
        height: 2480px;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
    }  
    .login-body{
        height: 600px;
        width: 600px;
        background-color: rgba(240, 248, 255, 0.278);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 100px;
        box-shadow: 0px 0px 10px;
        margin-top: -900px;
    } 
}
@media (max-width: 490px) {
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('/public/bluenav.jpg');
        min-height: 831px;
        
        width: 400%;
        height: 3580px;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
    } 
   
}