.body-sd{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(216, 137, 17); */
    /* background: url('/public/peakbg.jpg'); */
    /* background-image: linear-gradient(to bottom,grey,black); */
    min-height: 871px;
    overflow-y: hidden;
    overflow-x: hidden;
    
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    flex-wrap: nowrap;
}
.body-sd2{
    height: auto;
    width: 95%;
    /* background-color: rgba(240, 248, 255, 0.64); */
    background: url('/public/bluenav.jpg');

    /* background-image: linear-gradient(to bottom,grey,white); */
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.h1-sd{
    margin-top: -700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tr1-sd{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
.th1-sd1{
    width: 7%;
    overflow-y: hidden;
    overflow-x: hidden;
    color: rgb(224, 15, 15);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
   
}
.bg-sd3{
    background-color: yellow;
}
.btn2-sd{
    width: 7%;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 35px;
    width: 80px;
    margin-left: -40px;
    color: aliceblue;
    font-weight: 600;
    border-radius:10px ;
    background-image: linear-gradient(to bottom,rgb(24, 215, 34),rgb(33, 199, 46));
}
.th1-7{
    width: 7%;
}

