.home-bg{
    height: auto;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

}

.p-v{
    font-size: 30px;
    font-weight: 800;
    color: aliceblue;
    margin-top: -300px;
    margin-left: 200px;
    text-shadow: 0px 0px 20px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p-v1{
    font-size: 30px;
    font-weight: 800;
    color: aliceblue;
    margin-left: 200px;
    margin-top: -30px;
    text-shadow: 0px 0px 20px black;

    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img-h{
    width: 100%;
}
.btn-h{
    height: 40px;
    width: 300px;
    margin-left: 200px;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border-radius: 10px;
    background-image: linear-gradient(to bottom , skyblue,white);
    box-shadow: 0px 15px 10px -15px black;  
    border: none;  


    
}
.btn-h:hover{
    background-image: linear-gradient(to bottom , rgb(25, 80, 33),white);
}
.p-v2{

    margin-top: 180px;
    font-size:25px ;
    margin-left: 830px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(12, 12, 12); 
    text-shadow: 0px 15px 10px -15px black;    
 
}
.poster1{
    height: 300px;
    width: 300px;
    margin-left: 110px;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    
   

    

    
   

}
.poster1:hover{
transform: scale(1.22);

}
.poster2{
    height: 300px;
    width: 300px;
    margin-left: 110px;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;

    

}
.poster2:hover{
    transform: scale(1.22);
}
.p-v3{
    margin-top: 80px;
    font-size:25px ;
    margin-left: 830px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(12, 12, 12);  
}
.video1{
    height:250px;
    width: 400px;
    box-shadow: 0px 0px 10px;

}
.video1:active{
    transform: scale(2);
    display: flex;
}

.div2{
    max-width: 100%;
    height: 1920px;
}
.div2 table{
/* background-color: red; */
width: 100%;
}


.container2 {
    width: 100%;
    height: 200px;
   background-image: url('/public/bluebg.jpg');
  }
  
.div-p{
    color: aliceblue;
    text-align: center;
    padding: 80px;
}
.div{
    background-color:rgb(31, 18, 2);
        /* background: url('/public/bluenav.jpg'); */
        background-image: linear-gradient(to bottom,rgb(160, 238, 234),rgb(86, 224, 246));

    background-color: rgb(122, 148, 134);
    width: 100%;
    min-height: 3000px;
    height: auto;

    object-fit: cover;
    
}

.home-container1{
    margin-left: 140px;
    margin-top: -200px;
    
    height: 500px;
    width: 85%;
    background-image: linear-gradient(to bottom,white,skyblue);
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
}
.home-h1{

    margin-left: 50PX;
    margin-top: 100PX;
}
.home-p1{
    font-size: 22px;
    font-weight: 600;
    margin-top: 220px;
    margin-left: -430px;
}
.home-p2{
    margin-left: -400px;
    margin-top: 260px;
}
.home-img1{
    margin-left: 150px;
    height: 500px;
    width: auto;
}
.home-btn{
    height: 50px;
    width: 200px;
    margin-top: 400px;
    margin-left: -1450px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
    background-image: linear-gradient(to bottom,green,rgb(146, 184, 146),rgb(27, 137, 29));
}