.aar-bg{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* background: url('/public/peakbg.jpg'); */
    min-height: 830px;

    /* background-color: rgb(0, 255, 119); */
height: auto;
    width: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    /* display: flex; */
justify-content:center;
align-items: center;
    flex-wrap:nowrap;
}
.aar-bg1{
    background-image: linear-gradient(to bottom,grey,rgb(189, 188, 188));
    height: 600px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(95, 93, 93);
    display: flex;
    justify-content: center;
}
.aar-p1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    /* background-color: aqua; */
    height: 30px;
    margin-left: 400px;
}
.aar-bg2{
    width: 80%;
    height: 450px;
    background-color: aliceblue;
    margin-top: 100px;
    margin-left: -600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.aar-i1{
    height: 40px;
    width: 300px;
    margin-top: 50px;
    margin-left: 150px;
    background-color: rgb(226, 225, 225);
    border: none;
    border-radius: 5px;
    
}
.aar-i2{
    height: 40px;
    width: 300px;
    /* margin-top: -110px; */
    margin-left: 150px;
    background-color: rgb(226, 225, 225);
    border: none;
    border-radius: 5px;

}
.aar-i3{
    height: 40px;
    width: 300px;
    margin-left: 150px;
    background-color: rgb(226, 225, 225);
    border: none;
    border-radius: 5px;
}
.aar-btn{
    height: 30px;
    width: 80px;
    margin-top: 80px;
    margin-left: -410px;
    background-color: black;
    font-weight: 600;
    color: aliceblue;
}