.body-vr{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('/public/peakbg.jpg'); */
    min-height: 865px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-image: linear-gradient(to bottom,rgb(140, 219, 231),rgb(47, 223, 211));
    /* background-color: rgb(190, 225, 237); */

}
.bg-vr{
    height: 800px;
    width: 600px;
        background: url('/public/bluenav.jpg');

    /* background-color: aliceblue; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(29, 44, 50);    

}
.p-vr{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 20px;

}
#pro{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: 50px;
    
}
.i-vr{
    border: none;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #1b6083;    
}
.btn-vr{
    height: 30px;
    width: 67px;
    margin-top: 30px;
    margin-left: 60px;
    border-radius: 10px;
    /* background-color: red; */
    background-image: linear-gradient(to bottom,red,red);
    border: none;
    box-shadow: 0px 0px 10px black;
    color: aliceblue;
    font-weight: 600;
    font-size: 12px;
 }
.i-vr1{
    border: none;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #1b6083;    

}
.i-vr2{
    border: none;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #1b6083;    


}
.i-vr3{
    border: none;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #1b6083;    


}
.i-vr4{
    border: none;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #1b6083;    


}
.i-vr5{
 
    border: none;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #1b6083;    


}
.i-vr6{
    border: none;
    height: 30px;
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #1b6083;    


}
.btn-vr1{
   height: 30px;
   width: 67px;
   border-radius: 10px;
   margin-left: 10px;
   /* background-color: rgb(15, 15, 99); */
   background-image: linear-gradient(to bottom,rgb(44, 44, 77),rgb(44, 44, 77));
   color: aliceblue;
   font-weight: 600;
   box-shadow: 0px 0px 10px,black;
   border: none;
 }
 .p-vr2{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 13px;
 }
 
 @media only screen and (max-width: 1920px) {

  .body-vr{
    width: 100%;
    
  }
   

 }
