.display-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image:linear-gradient(to bottom,grey,black); */

  /* background: url('/public/peakbg.jpg'); */
  min-height: 865px;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  /* background-color: rgb(122, 148, 134); */
}



  .p-vc{
    font-size: 30px;
    margin-left: 270px;
    font-weight: 800;
    color: rgb(13, 13, 57);
    margin-top: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .p-vc1{
    font-size: 20px;
    font-weight: 800;
    /* margin-left: 100px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  .p-vc2{
    font-size: 20px;
    font-weight: 800;
    /* margin-left: 100px; */
    font-family: Georgia, 'Times New Roman', Times, serif;

    
  }
  .p-vc3{
    font-size: 20px;
    font-weight: 800;
    /* margin-left: 100px; */
    font-family: Georgia, 'Times New Roman', Times, serif;

    
  }
  .p-vc4{
    font-size: 20px;
    font-weight: 800;
    /* margin-left: 100px; */
    font-family: Georgia, 'Times New Roman', Times, serif;

    
  }
  .p-vc5{
    font-size: 20px;
    font-weight: 800;
    /* margin-left: 100px; */
    font-family: Georgia, 'Times New Roman', Times, serif;

    
  }
  .p-vc6{
    font-size: 20px;
    font-weight: 800;
    /* margin-left: 100px; */
    font-family: Georgia, 'Times New Roman', Times, serif;

    
  }
  
 
  .tr-vc{
    font-size: 15px;
    font-weight: 600;
    color:rgb(234, 241, 234);
    
     
  }
  tr td{
    align-items: center;
    text-align: center;
  }
  .table1{
    /* background-color: rgba(11, 8, 69, 0.25); */
    background: url('/public/bluenav.jpg');

    border-radius: 10px;
    margin-bottom: 40px;
  }
  @media (max-width: 1200px) {
    .display-bg{
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-image:linear-gradient(to bottom,grey,black); */
    
      /* background: url('/public/peakbg.jpg'); */
      min-height: 1365px;
      overflow-y: hidden;
      overflow-x: hidden;
      width: 200%;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      /* background-color: rgb(122, 148, 134); */
    }
  }
  @media (max-width: 728px) {
    .display-bg{
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-image:linear-gradient(to bottom,grey,black); */
    
      /* background: url('/public/peakbg.jpg'); */
      min-height: 2065px;
      overflow-y: hidden;
      overflow-x: hidden;
      width: 300%;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      /* background-color: rgb(122, 148, 134); */
    }
  }
  @media (max-width: 586px) {
    .display-bg{
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-image:linear-gradient(to bottom,grey,black); */
    
      /* background: url('/public/peakbg.jpg'); */
      min-height: 2765px;
      overflow-y: hidden;
      overflow-x: hidden;
      width: 400%;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      /* background-color: rgb(122, 148, 134); */
    }
  }