.pa-bg{
    display: flex;
/* justify-content: center; */
/* align-items: center; */
/* background: url('/public/peakbg.jpg'); */
min-height: 830px;

/* background-color: rgb(0, 255, 119); */
/* background-image:linear-gradient(to bottom,rgb(113, 111, 111),rgba(42, 40, 40, 0.914)); */
 height: auto;
width: 100%;
/* background-position: center; */
background-repeat: no-repeat;
object-fit: cover;
background-size: cover;
/* display: flex; */
justify-content:center;
align-items: center;
flex-wrap:wrap;
overflow-y: hidden;
overflow-x: hidden;
}

.pa-bg1{
    height: 700px;
    width: 600px;
    background: url('/public/landscape.jpg');
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.profile-vector{
 
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-top: 350px;
}
.pa-bg2{
    height: 700px;
    width: 600px;
    background: url('/public/bluenav.jpg');
    display: flex;
    justify-content: center;
}
.pa-bg3{
height: 650px;
width: 550px;
background-color: white;
margin-top: 25px;
display: flex;
justify-content: start;
}

.pa-p1{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
}
.pa-p2{
    margin-top: 80px;
    margin-left: -160px;
    font-weight: 600;
    color: rgb(16, 16, 64);
}
.pa-i1{
    height: 35px;
    width: 300px;
    margin-top: 110px;
    margin-left: -100px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    border: none;
}
.pa-p3{
    margin-top: 170px;
    margin-left: -300px;
    font-weight: 600;
    color: rgb(16, 16, 64);
}
.pa-i2{
    height: 35px;
    width: 300px;
    margin-top: 200px;
    margin-left: -110px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    border: none;
}
.pa-p4{
    margin-top: 260px;
    margin-left: -300px;
    font-weight: 600;
    color: rgb(16, 16, 64);
}
.pa-i3{
    height: 35px;
    width: 300px;
    margin-top: 290px;
    margin-left: -55px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    border: none;
}
.pa-p5{
    margin-top: 350px;
    margin-left: -300px;
    font-weight: 600;
    color: rgb(16, 16, 64);
}
.pa-i4{
    height: 35px;
    width: 300px;
    margin-top: 380px;
    margin-left: -40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    border: none;
}
.pa-p6{
    margin-top: 440px;
    margin-left: -300px;
    font-weight: 600;
    color: rgb(16, 16, 64);
}
.pa-i5{
    height: 35px;
    width: 300px;
    margin-top: 470px;
    margin-left: -75px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    border: none;
}
.pa-p7{
    margin-top: 530px;
    margin-left: -300px;
    font-weight: 600;
    color: rgb(16, 16, 64);
}
.pa-i6{
    height: 35px;
    width: 300px;
    margin-top: 560px;
    margin-left: -110px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    border: none;
}
.pa-button {
    display: inline-block;
    /* padding: 12px 28px; */
    height: 30px;
    width: 80px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 560px;
    margin-left: 60px;
   

  }
  
  .pa-button:hover {
    /* transform: translateY(-2px); */
    box-shadow: 0px 6px 0px #0072ff;
  }
  
  .pa-button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
  }
  
  .pa-button:before,
  .pa-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .pa-button:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }
  
  .pa-button:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  .pa-bg4{
    height: 100px;
    width: 70%;
    background-color: #ffffff74;
    margin-top: 110px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  .pa-bg5{
    height: 100px;
    width: 70%;
    background-color: #ffffff74;
    border-radius: 30px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;


  }
  .pa-bg6{
    height: 100px;
    width: 70%;
    background-color: #ffffff74;
    border-radius: 30px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;



  }
  .pa-map{
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-left: 30px;
  }
  .map-p1{
    font-weight: 600;
    color: white;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .pa-p11{
    font-size: 14px;
    font-weight: 600;
    color: grey;
    margin-left: 60px;
    margin-top: -10px;
  }
  .phone-p1{
    font-weight: 600;
    color: white;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .pa-p22{
    font-size: 15px;
    font-weight: 600;
    color: rgb(241, 241, 241);
    margin-left: -80px;
    margin-top: 50px;
  }
  .pa-p33{
    font-size: 15px;
    font-weight: 600;
    color: rgb(241, 241, 241);
    margin-left: -50px;
    margin-top: 50px;
  }
  
  .pa-edit{
    height: 30px;
    width: 30px;
    margin-top: 170px;
    margin-left: -280px;
  }
  .pa-delete{
    height: 30px;
    width: 30px;
    margin-top: 150px;
    margin-left: 30px;
  }
  .pa-check{
    height: 30px;
    width: 30px;
    margin-top: 150px;
    margin-left: 30px;
  }