.container1 {
   height: 80px;
   width: 100%;
   /* background-image: url('/public/bluenav.jpg'); */
   background: url('/public/bluebg.jpg');

  }
  
.hambuger{
    visibility: hidden;
}
.cs{
    height: 60px;
    width: 60px;
    margin-left: 30px;
    margin-top: 10px;
}
.p-nav{
    font-size: 15px;
    margin-left: 105px;
    margin-top: -42px;
    font-weight: 800;
    color: aliceblue;
    font-family: cursive;
}




a{
    text-decoration: none;
    color :aliceblue;

}

.expandnav{
    background-color: brown;
    width: 500px;
    height: 900px;
    
}
.fullnav{
   display: flex;
   margin-top: -55px;
   margin-left: 500px;
   flex-wrap: wrap;
   justify-content: space-evenly;


   font-family: Georgia, 'Times New Roman', Times, serif;
   color: aliceblue;
   font-size: 15px;
   font-weight: 800;
}

.cart-nav{
  height: 30px;
  width: 30px;
  margin-top: 10px;
}





















   

   
 @media only screen and (max-width: 1000px){
    
    .fullnav{
             /* visibility: hidden; */
               margin-left: 200px;
    }
    .p-nav{
        font-size: 30px;
        margin-left: 80px;
        margin-top: -55px;
        font-weight: 800;
        color: rgb(252, 252, 250);
        font-family: cursive;
    }
    .cs{
        height: 60px;
        width: 60px;
        margin-left: 10px;
        margin-top: 10px;
    }
    a{
      text-decoration: none;
      color :rgb(14, 15, 15);
  
  }
  }

  @media only screen and (max-width: 700px) {

         /* .fullnav{
            visibility: hidden;
         } */
        .p9-nav{
            visibility: visible;
            
        
        }
        }

  

